@import "default.css";
@import "fonts.css";

:root {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  background-color: #000201;
  color: #fff;
}

.container {
  max-width: 1432px; /*1300px + padding-left: 66px + padding-right: 66px*/
  padding: 0 66px;
  margin: 0 auto;
}

.link-show-trailer {
  padding: 14px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff3d00;
  border-radius: 52px;
  border: 1px solid transparent;
  outline: none;
}
.link-show-trailer:hover {
  background-color: #ff521b;
}
.link-show-trailer:focus {
  background-color: #ff521b;
  border-color: #fff;
}
.link-show-trailer:disabled {
  background-color: #272928;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  display: block;
}

.hero {
  padding-top: calc(476 / 1440 * 100%);
  padding-bottom: 60px;
  /* height: 810px; */
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.76) 60%,
      rgba(0, 0, 0, 1) 100%
    ),
    image-set(
      url("../img/banner@2x.avif") type("image/avif") 2x,
      url("../img/banner.avif") type("image/avif"),
      url("../img/banner@2x.webp") type("image/webp") 2x,
      url("../img/banner.webp") type("image/webp"),
      url("../img/banner@2x.jpg") 2x,
      url("../img/banner.jpg")
    );
}
.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}
.hero__banner {
  max-width: 100%;
  width: 795px;
  margin-bottom: 2px;
}
.hero__date {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ff3d00;
}
.hero__link {
  display: none;
}
.hero__arrow {
  width: 64px;
  height: 64px;
}

.hero__arrow:hover {
  color: #ff3d00;
}

.about {
  padding: 60px 0;
}
.about__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about__content {
  flex-basis: 750px;
}
.about__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 52px;
}
.about__description {
  font-size: 20px;
}
.about__container::after {
  content: "";
  flex-basis: 530px;
  background-image: url(../img/aang.jpg);
  background-image: -webkit-image-set(
    url("../img/aang@2x.avif") type("image/avif") 2x,
    url("../img/aang.avif") type("image/avif") 1x,
    url("../img/aang@2x.webp") type("image/webp") 2x,
    url("../img/aang.webp") type("image/webp") 1x,
    url("../img/aang@2x.jpg") 2x,
    url("../img/aang.jpg") 1x
  );
  background-image: image-set(
    url("../img/aang@2x.avif") type("image/avif") 2x,
    url("../img/aang.avif") type("image/avif") 1x,
    url("../img/aang@2x.webp") type("image/webp") 2x,
    url("../img/aang.webp") type("image/webp") 1x,
    url("../img/aang@2x.jpg") 2x,
    url("../img/aang.jpg") 1x
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trailers {
  padding: 60px 0 120px;
}

.trailers__buttons {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.trailers__button {
  padding: 14px 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #272928;
  border-radius: 8px;
  white-space: nowrap;
}
.trailers__button_active {
  background-color: #ff3d00;
}
.trailers__button_active:focus,
.trailers__button_active:hover {
  background-color: #ff521b;
}

.trailers__wrapper {
  display: none;
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /*calc(9px / 16px);*/
  overflow: hidden;
}
.trailers__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.footer {
  padding: 40px;
  line-height: 1.4;
  background-color: #101010;
}
.footer__container {
  display: grid;
  gap: 36px;
  grid-template-areas:
    "developers logo"
    "copyright logo";
}
.footer__developers {
  grid-area: developers;
}
.footer__developer:not(:last-child) {
  margin-bottom: 8px;
}
.footer__link:hover {
  color: #ff521b;
}
.footer__copyright {
  grid-area: copyright;
}
.footer__logo {
  width: 287px;
  grid-area: logo;
  justify-self: flex-end;
  align-self: end;
}

@media (max-width: 1080px) {
  .hero {
    padding-top: calc(337 / 1024 * 100%);
    padding-bottom: 50px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.76) 60%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url("../img/banner_1024@2x.avif") type("image/avif") 2x,
        url("../img/banner_1024.avif") type("image/avif"),
        url("../img/banner_1024@2x.webp") type("image/webp") 2x,
        url("../img/banner_1024.webp") type("image/webp"),
        url("../img/banner_1024@2x.jpg") 2x,
        url("../img/banner_1024.jpg")
      );
  }
  .hero__banner {
    width: 639px;
  }
  .hero__date {
    font-size: 32px;
  }
  .about {
    padding: 50px 0;
  }
  .about__container::after {
    flex-basis: 50%;
    background-image: url("../img/aang1024.jpg");
  }
  .about__content {
    flex-basis: 50%;
  }
  .about__title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  .about__description {
    font-size: 16px;
  }
  .trailers {
    padding: 50px 0 100px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 44px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo {
    width: 130px;
  }
  .hero {
    padding-top: calc(337 / 768 * 100%);
    padding-bottom: 40px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.76) 60%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url("../img/banner_768@2x.avif") type("image/avif") 2x,
        url("../img/banner_768.avif") type("image/avif"),
        url("../img/banner_768@2x.webp") type("image/webp") 2x,
        url("../img/banner_768.webp") type("image/webp"),
        url("../img/banner_768@2x.jpg") 2x,
        url("../img/banner_768.jpg")
      );
  }
  .hero__date {
    margin-bottom: 12px;
  }
  .hero__arrow {
    width: 36px;
    height: 36px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__content {
    flex-basis: auto;
  }
  .about__container::after {
    flex-basis: 300px;
    background-image: url("../img/aang768.jpg");
  }
  .about__title {
    max-width: 370px;
  }
  .trailers {
    padding: 40px 0 80px;
  }
  .trailers__buttons {
    gap: 8px;
  }
  .trailers__button {
    padding: 10px 16px;
    font-size: 12px;
  }
  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer__container {
    gap: 20px;
  }
  .footer__copyright,
  .footer__developers {
    font-size: 12px;
  }
  .footer__logo {
    width: 217px;
  }
}

@media (max-width: 620px) {
  .container {
    padding: 0 16px;
  }
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__logo {
    width: 80px;
  }
  .header__link {
    display: none;
  }
  .hero {
    padding-top: calc(173 / 320 * 100%);
    padding-bottom: 30px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.76) 60%,
        rgba(0, 0, 0, 1) 100%
      ),
      image-set(
        url("../img/banner_320@2x.avif") type("image/avif") 2x,
        url("../img/banner_320.avif") type("image/avif"),
        url("../img/banner_320@2x.webp") type("image/webp") 2x,
        url("../img/banner_320.webp") type("image/webp"),
        url("../img/banner_320@2x.jpg") 2x,
        url("../img/banner_320.jpg")
      );
  }
  .hero__link {
    margin-bottom: 32px;
    display: block;
  }
  .hero__date {
    font-size: 20px;
  }
  .about {
    padding: 30px 0;
  }
  .about__container::after {
    flex-basis: 436px;
    background-image: url("../img/aang320.jpg");
  }
  .about__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
  .trailers {
    padding: 30px 0 60px;
  }

  .trailers__container {
    padding: 0;
  }

  .trailers__buttons {
    padding: 0 16px;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .trailers__buttons::-webkit-scrollbar {
    display: none;
  }

  .trailers__button {
  }
  .trailers__list {
    padding: 0 16px;
  }
  .footer__container {
    grid-template-areas:
      "logo"
      "developers"
      "copyright";
  }
  .footer__logo {
    margin-bottom: 4px;
    justify-self: flex-start;
  }
}
